button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.sticky-nav {
  position: fixed;
  display: flex;
  top: 1%;
  /*right: 150px;*/
  /*top: 0;*/
  /*right: 50%;*/
  /*opacity: 0;*/
  z-index: 999;
  transition: all ease-in-out 0.5s;
}
.sticky-nav .sticky-nav-div {
  cursor: pointer;
  height: 45px;
  width: 90px;
  background: #018080;
  color: white;
  text-align: center;
  transition: all ease-in-out 0.2s;
}
.sticky-nav .sticky-nav-div p {
  padding-top: 17px;
}
@media (max-width: 600px) {
  .sticky-nav .sticky-nav-div {
    background: rgba(0, 0, 0, 0.5);
  }
  .sticky-nav {
    justify-content: center;
    width: 100%;
    top: 0;
    background: rgba(1, 128, 128, 0.5);
  }
  .sticky-nav .sticky-nav-div.nav-displace {
    margin-top: 0px;
  }
}
.sticky-nav-div.nav-displace {
  margin-top: 10px;
}
#sticky-nav-2.highlight, #sticky-nav-3.highlight, #sticky-nav-4.highlight, #sticky-nav-5.highlight {
  background: #018080;
}
.sticky-nav.nav-displace {
  opacity: 1;
}